.madre{
box-shadow:0px, 0px, 0px,0px;
background-image:url(../../encuestas/original.gif);

background-repeat:no-repeat;
background-attachment:inherit;


}
hr{
	background:#CCC;
	border:none;
	height:2px;
	}
.alumnos{

	text-align:center;
	
	}
.alumnostitulo{

	
	margin-top:10cm;
	text-align:center;
	}
	
	.cajaprincipal{
	box-shadow: 0px 3px 41px 5px rgba(0,0,0,0.6), -2px -1px 50px 0px rgba(147,152,156,1), inset -20px 5px 71px 32px rgba(245,245,245,1);
	background-repeat:no-repeat;
	text-align:center;
	margin-top:10px;
	margin-left:150px;
	margin-right:150px;
	margin-bottom:10px;
	}
body{
	
	}