*{
	margin: 0px;
	padding: 0px;

}
body{
	background: #040404;
}

 .button_encuesta{
	margin-left: auto;
	margin-right: auto;
}

h1{
	color:white;
	text-align: center ;
	margin-top: 15px;

}

.wrap{
	background: rgba(255,255,255,0.3);
	padding: 25px;
	margin: 0 auto;
	width: 385px;
	/*background: #f3f3f3;*/
	border-radius: 4px;
	margin-top: 50px;
	border:1px solid #e0e0e0;
	color: #FCFAFA;

}
.wrap, p{

	margin-top: 15px;
	font-family:arial;

}

 a{

	color: #1C1D1C;
	padding: 10px;
	text-decoration: none;


}
.wrap button {
	padding: 5px;
	margin-top: 15px;
	border-radius: 5px;
	margin-left: 100px;
	color: white;
}
.wrap .boton_encuesta:hover{
	background: #272A28;



}
