*{
	margin: 0px;
	padding: 0px;

}


body{
	background-image: url("fondo2.png");
}
.wrap div{

border-radius: 10px;
width:95%;
background: rgba(0,0,0,0.3); 
}

 .button_encuesta{
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

h1{
	font-size: 20px;
	color:white;
	text-align: center ;
	margin-top: 12px;
	padding: 5px;

}




.wrap{
	background: rgba(255,255,255,0.2);
	padding: 25px;
	margin: 0 auto;
	width: 385px;
	/*background: #f3f3f3;*/
	border-radius: 4px;
	margin-top: 30px;
	border:1px solid #e0e0e0;
	color: #FCFAFA;

}
.wrap, p{

	padding: 5px;
	font-size: 17px;
	margin-top: 15px;
	font-family:verdana;
	position:  relative;

}

.wrap, a{

	color: #FCFAFA;
	padding: 10px;
	text-decoration: none;


}
.wrap button {
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
	margin-left: 130px;
	color: #1C1D1C;
}
.wrap button:hover{
	background: #272A28;
	cursor: pointer;

}

.wrap label{

	font-size: 25px;
}

.clasificacion{
	margin-top: 0px;
	margin-left: 50px;

}


/*#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
	margin:0px;
  text-align: center;
}

#form label {
  font-size: 100px;
}*/

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
